extends layout 
block  contenido
    .contenido-principal 
        h1 #{nombrePagina}
            br
            br
            .row.row-cols-1.row-cols-md-2.g-4
                .col
                    .card
                    img.card-img-top(src='/img/moviil.jpeg' alt='...')
                    .card-body
                        h5.card-text
                            | El planteamiento principal es ofrecer un software de calidad donde se supere las expectativas de los clientes, tanto de las empresas de transportes como de los usuarios del servicio de las mismas. Brindando un soporte adecuado y oportuno que garantice la seguridad y el correcto funcionamiento en cualquier momento.
                .col
                    .card
                    img.card-img-top(src='/img/logocar.jpeg' alt='...')
                    .card-body
                        h5.card-text
                            | Brindamos un servicio de transporte de carga pesada y logística a nivel nacional satisfaciendo plenamente en tiempo y forma los requerimientos de nuestros clientes garantizando un servicio que destaque por la seguridad, puntualidad y calidad, con respaldo de tecnología adecuada, personal calificado y competitivo.
                            