doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="/css/normalize.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        script(src="/js/modulos/empresaAlert.js") 
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js")
        script(src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js") 
        script(src="/js/bootstrap.js") 
        title #{nombrePagina}
    body 
        header.barra 
            h1 TranspoCam
            a(href="#") cerrar sesion
        main.contenedor 
            aside.contenedor-proyectos 
                .panel.lista-proyectos 
                    div(id="menu")
                        ul#proyectos.proyectos
                            li(class="has-sub") 
                                a(title="" href="/" class="boton") Inicio
                            br
                            li(class="has-sub") 
                                a(title="" href="/camiones" class="boton") Nuevo Camion
                            li(class="has-sub") 
                                a(title="" href="/ver-camiones" class="boton") Ver Camiones
                            br
                            li(class="has-sub") 
                                a(title="" href="/camionero" class="boton") Nuevo Camionero
                            li(class="has-sub") 
                                a(title="" href="/ver-camioneros" class="boton") Ver Camionero
                            br
                            li(class="has-sub") 
                                a(title="" href="/paquete" class="boton") Nuevo Paquete
                            li(class="has-sub") 
                                a(title="" href="/ver-paquetes" class="boton") Ver Paquetes 
                            br
                            li(class="has-sub") 
                                a(title="" href="/camicon" class="boton") Nuevo Camicon
                            li(class="has-sub") 
                                a(title="" href="/ver-camicon" class="boton") Ver Camicon
                            br
                            li(class="has-sub") 
                                a(title="" href="/ver-ciudades" class="boton") Ver Ciudades
            block contenido
