extends layout
block contenido
    .contenido-principal
        .modal-dialog
        .modal-content
            // Modal Header
            .modal-header
                h4#myModalLabel.modal-title #{nombrePagina}
            // Modal Body
            .modal-body
                form(role='form' method='POST' action='/paquete' data-toggle = "validator")
                    .form-group
                        label(for='destinatario') destinatario
                        input#name.form-control(type='text', placeholder='Escriba Numero del parqueo' name='destinatario' required autofocus)
                    .form-group
                        label(for='descripcion') descripcion
                        input#name.form-control(type='text', placeholder='Escriba Numero del parqueo' name='descripcion')
                    .form-group
                        label(for='direccion') direccion
                        input#name.form-control(type='text', placeholder='Escriba Numero del parqueo' name='direccion')
                    br
                    .form-group 
                        .input-group.mb-3
                            .input-group-prepend
                                label.input-group-text(for='ciudad_id') ciudad  
                                    select#inputGroupSelect01.custom-select(name='ciudad_id' required)
                                        option.selected(value='') Seleccione la ciudad
                                            each ciudad in ciudades
                                                option(value=ciudad.id)=ciudad.nombre
                    br
                    .form-group 
                        .input-group.mb-3
                            .input-group-prepend
                                label.input-group-text(for='camionero_id') camionero
                                    select#inputGroupSelect01.custom-select(name='camionero_id' required)
                                        option.selected(value='') Seleccione el camionero
                                            each camionero in camioneros
                                                option(value=camionero.id)=camionero.nombre
                                    
                    .form-group
                        button.btn.btn-primary(type="submit", name="agregar") Agregar
            // Modal Footer
            .modal-footer
                h5 footer
            // footer
            p.foot.text-xs-center test